            // ExpensesSummary
            .expenses-summary {
                padding: 2rem;

                h3 {
                    color: #020817;
                    font-family: sans-serif;
                    font-size: 1rem;
                }

                .summary-noExpenses {
                    font-size: 1.1rem;
                }

                .summary-category {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;
                    background-color: #F1F5F9;
                    padding: 1rem;
                    font-family: sans-serif;
                    .category-all,
                    .category-item {
                        background-color: #fff;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
                        padding: 0.5rem;
                        border-radius: 18px;
                        .all-title,
                        .item-title {
                            padding-left: 1rem;
                            color: #3f4143;
                        }

                        .all-amount,
                        .item-amount {
                            padding-left: 1rem;
                            font-size: 1.1rem;
                            font-weight: bold;
                            color: #020817;
                        }
                    }
                }
            }


.modal-panel {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    border-bottom: 1px solid #e5e7eb;
    margin: 0 auto;

    .panel-title {
        font-size: 27px;
        margin: 0;
        padding: 0 2rem;
    }
    .panel-subTitle {
        color: rgb(56, 56, 56);
        margin: 0.5rem 0 0 0;
        padding: 0 2rem;
    }

    // AddArticleComponent Styles
    .panel-add-expense {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 0 2rem;
        margin-top: 2rem;

        .expense-expenses {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-between;

            .expense-description,
            .expense-category,
            .expense-amount,
            .expense-date
            {
                flex: 1;
                display: flex;
                flex-direction: column;

                p{
                    font-size: 1.05rem;
                    margin: 0;
                }
            }

            input {
                width: 100%;
                height: 3rem;
                border-radius: 4px;
                padding: 0.3rem;
                margin-top: 5px;
                border: 1px solid #e6e0e0;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                font-size: 1.1rem;
            }
        }

        .expenses-addBtn {
            width: 100%;
            height: 2.5rem;
            align-self: center;
            border-radius: 4px;
            background-color: #161616;
            color: #f3f3f3;
            font-weight: bold;
            border: none;
            cursor: pointer;
            margin-top: 1.5rem;
        }
    }

    // ArticleListComponent
    .list-expense {
        padding: 0 2rem;
        width: 100%;
        margin-top: 4rem;
        table {
            width: 100%;

            thead {
                tr {

                    th {
                        font-size: 1.3rem;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #e5e7eb;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 0px;
                        font-size: 1.3rem;
                        color: #020817;;
                        border-bottom: 1px solid #e5e7eb;
                        text-align: center;
                        height: 3rem;
                    }

                    .category-span {
                        border-radius: 18px;
                        padding: 7px;
                        font-size: 1.1rem;
                        text-align: center;
                        color: #020817;
                        background-color: #F1F5F9;
                    }

                    .list-options {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        button {
                            cursor: pointer;
                            border-style: none;
                            background-color: #fff;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}
